<!DOCTYPE html>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <% if (typeof(errorMessage) !== 'undefined') { %>
    <h4><%= errorMessage %></h4>
    <% errorMessage = undefined; %>
  <% } %>
  <h3>
    <% for (key in urls) { %>
          <li><%= key %> : <%= urls[key].link; %></li>
          <form method="POST" action="/urls/<%= key %>/delete">
          <button>Delete</button>
          <a href="http://localhost:8080/urls/<%= key %>">Edit</a>
      </form>
    <% } %>
  </h3>
  <a href="http://localhost:8080/urls/new">Shorten Your Own URL</a>
</body>